<blockquote>
<p>“C’est important de faire du tri, de discerner ce qui relève de
l’obligation, de la décision, ou de l’habitude – ce qui est fait par
défaut, ou par inertie.” “Chaque décision que je prends est
transparente. Si elle ne l’était pas, on pourrait me le reprocher.
Travailler de cette manière me met constamment sous l’œil de la
critique. C’est quelque chose qu’il faut assumer.” “Cela m’intéresse de
faire voir les actions économiques, sociales et toutes les opérations
qui maintiennent l’œuvre en état d’art.” (-&gt; Laurence Rassel dans
<em>Ce que Laurence Rassel nous fait faire</em>) Elle parle aussi d’une
“école ouverte en lecture et en écriture”. Est-ce qu’on peut faire une
expo comme ça ?</p>
</blockquote>
<p class="existentiel">Est-ce que c’est narcissique d’écrire ?</p>
<p class="existentiel">Tout le monde utilise du langage, mais je suis qui moi pour dire
que je l’utilise mieux que d’autres ? Que mon langage mérite d’être
transmis, enregistré, perrenisé ?</p>
<p class="existentiel">Est-ce que je veux parler à la plupart des gens ou bien à des
expert.e.s ?</p>
<p class="existentiel">Qui utilise ce que je fais ?</p>
<p class="existentiel">Est-ce que les questions que je me pose sont légitimes si seulement
des expert.e.s relèvent leurs problématiques/enjeux ?</p>
<p class="existentiel">Est-ce que je me fais chier pour rien si 95% des gens comprennent
l’intention et ne soulèvent pas des problématiques ontologiques
profondes ?</p>
<p class="technique">Pour l’année prochaine je pense que ce que je veux fouiller c’est
la notion d’utilisation. Moi ce que j’aime c’est le protocole
scientifique : je me pose une question, je fais des recherches, je fais
des expériences et j’en fait un compte-rendu. Ma production c’est ce
processus de recherche rendu visible/tangible/palpable, qui a une
organisation et une méthodologie ordonnée et scientifique mais qui peut
passer par des chemins artistiques/poétiques/esthétiques.</p>
<p class="technique">Ce que j’ai envie de travailler c’est des objets utilisables mais
pas utiles, fonctionnels mais pas fonctionnalistes, compréhensibles mais
pas forcément explicatifs/descriptifs.</p>
<p class="technique">Des compte-rendus/des résumés/des tutos/des documentations/des
modes d’emploi/des outils, des trucs qui sont appropriables et pas
justes présentés, affichés et voilà, c’est terminé. Je pense que c’est
pour ça que j’aime bien les livres, qui sont plus manipulables qu’une
affiche, les sites qui sont un espace graphico-technique interactif et
les fontes qui sont un peu des logiciels et qui sont utilisées.</p>
<p class="technique">Le statut de prof, la posture du pédagogue -&gt; la conférence, le
cours crédibilité et autorité</p>
<p class="technique">J’aime bien apprendre des trucs, donc j’ai envie que ce que je
fasse me permette d’apprendre des trucs (de me renseiger sur des sujets
variés).</p>
<p class="existentiel">Je peux extrapoler en me disant que j’aime aussi bien apprendre des
trucs aux gens (étaler ma science ? plutôt aider les gens à
comprendre)</p>
<p class="existentiel">Je veux pas forcément imposer du savoir aux gens mais j’aime bien
qu’on me pose des questions et qu’on me demande d’expliquer quelque
chose</p>
<p class="existentiel">J’aime bien expliquer parce que ça me permet de voir comment je
comprends la chose que j’explique et comment d’autres personnes la
comprennet (ou ne la comprennent pas) sous un autre angle que le mien.
C’est une porte d’entrée vers une compréhension plus globale d’un sujet
(plusieurs angles).</p>
<p class="existentiel">Ce que j’aime c’est la compréhension plus que la vérité. Ça
m’intéresse plus d’être sûr que mon interlocuteurice comprennent ce que
je dis (et inversement) plutôt que de lui/la faire changer d’avis/avoir
raison. Peu importe qu’on tombe d’accord sur le sujet mais j’aimerais
qu’on soit d’accord sur notre connaissance sur le sujet, notre “socle
commun de <em>vérité</em>”.</p>
<p class="technique">Les compte-rendus/tutos/mode d’emplois/manuels sont utilisables. Ce
n’est pas un cours magistral linéaire, c’est une boîte à outils de
connaissances/savoirs-faire.</p>
<p class="technique">Dans la forme je veux que ce que je produise soit de l’ordre de
l’usership, utilisé/utilisable, appropriable, comme un outil,
transmissible. Je veux pas d’une expo, je veux que ce soit un peu
interactif. Vraiment utilisé et pas performé.</p>
<p class="technique">Dans le fond je veux que ça parle de technique/ça soit technique,
que ça soit accessible (accessibilité ?), que ça serve (soit utile ?)
-&gt; réponde à une question/un problème. Je veux répondre à un problème
de communication (/médiation ?), de type d’information ou bien de mise
en forme d’information.</p>
<blockquote>
<p>“Books, or graphic design as a discipline, don’t exist in a bubble,
they’re always pointing to something else” Wayne Daly, <em>Questions?
Looing for answers in the middle of somewhere</em>, David Bennewith
&amp; Sereina Rothenberger, Spector Books (p. 283) -&gt; je veux pointer
vers quelque chose que j’ai envie de voir transmis</p>
</blockquote>
<p class="existentiel">échange équivalent -&gt; si j’apprends un truc, j’aimerais que la
personne pour qui je fais un projet apprenne aussi un truc (en dehors de
l’échange service-argent)/mutualisation/symbiose des savoirs</p>
<p class="existentiel">quelle est ma position en temps que “prof”/personne qui veut
transmettre: mâitr·esse-ignorant·e, spectateurice/élève émancipé·e,
expert·e ?</p>
<p class="existentiel">Je ne veux pas transmettre ce que je sais/crois savoir/pense
(encore que dans l’idéal je veux sûrement transmettre des idées avec
lesquelles j’ai des affinités) mais ce que d’autres personnes ont
produit</p>
<p class="technique">la transmission de l’information - partage/diffusion des
connaissances</p>
<p class="existentiel">humanisme dépassé dans la volonté de lutter contre l’obscurantisme
?</p>
<p class="existentiel">est-ce que je veux “instruire” le plus de monde possible ? -&gt;
prétentieux, pédant, élitiste ?</p>
<p class="technique">le mode d’emploi -&gt; une seule façon de faire ? le bon emploi ?
la <strong>méthode</strong> µ la recette, les instructions, le
protocole</p>
<p class="technique">prescriptif ou descriptif -&gt; qu’est-ce qu’on va faire/qu’est-ce
qu’on peut faire/qu’est-ce qu’on doit faire/qu’est-ce qu’on a fait ?</p>
<p class="technique">est-ce qu’un mode d’emploi/tuto nous formate dans nos usages ?
(meubles IKEA recombinés, mélanges de boîtes de Lego)</p>
<p class="technique">mode d’emploi/recette -&gt; moyens pour arriver à une fin.
algorithme. suite d’instructions à effectuer dans un certain ordre</p>
<p class="technique">comment on apprend des choses ? -&gt; par la répétition ? par
l’exemple ? -&gt; le modèle µ apprentissage de la différentiation du
sexe des poulets</p>
<p class="technique">C’est quoi le bon usage ? culture de l’expert -&gt; tout usage est
un mésusage quand on pense à l’utilisateur·ice, il faut envisager tous
les cas où iel pourrait mal se comporter (incompréhension, volonté de
nuire…)</p>
<p class="technique">En fait je crois que ce qui m’intéresse pour un projet de master 2
c’est la question de l’usage/utilisation (mais pas de l’utile), avec
l’idée de comment les gens utilisent des choses, et comment iels peuvent
s’approprier des outils ou les utiliser d’un manière autre que «
fonctionnelle ». Je pense que c’est quelque chose autour de la question
de l’expérience, du processus (notamment de travail, le workflow → c’est
un peu de ça qu’il s’agit dans ce projet sur la couleur imprimée) et de
la mise en forme ou du compte-rendu de cette expérience/processus que je
voudrais creuser.</p>
<p class="existentiel">Je pense que j’ai un peu peur de faire des trucs de graphiste pour
des graphistes (ou des artistes)</p>
<p class="technique">En ce moment je fais aussi mon site et je me pose la question de
l’accessibilité. Si je me débrouille bien une grosse majorité de
personnes, même avec un vieux navigateur devraient voir quelque chose de
pas trop mal s’afficher. Mais l’accessibilité c’est aussi la facilité de
compréhension, et du coup je retombe sur le compte-rendu (mais aussi la
notice et d’utilisation, le mode d’emploi…), par exemple le compte-rendu
d’expérience scientifique ou de processus artistique.</p>
<p class="existentiel">Quand je fais des projets « artistiques » j’ai tendance à faire des
choses processuelles, conceptuelles, systématiques où le résultat
produit est décevant formellement et ne rend pas compte de ce qui s’est
joué. L’enjeu pour moi c’est de faire en sorte que mes projets soient
compréhensibles, en produisant des comptes-rendus qui auraient une forme
graphique, imprimée ou en ligne. Mais je me dit que je pourrais aussi
faire des compte-rendus de matière dont je ne suis pas l’auteur (à un
moment dans mon cursus j’ai voulu faire de la médiation
scientifique).</p>
<p class="technique">La documentation -&gt; comment documenter un truc ? (en fait le
mémoire d’Antoine Gelgon, <em>Comment documenter une production en
design graphique ?</em>)</p>
<p class="technique">Les styles d’écriture, comment on raconte ce qu’on a fait/ce qu’il
faut faire ?</p>
<p class="technique">La question du ton ?</p>
<p class="technique">Est-ce qu’il y a une bonne et une mauvaise façon d’apprendre ?
Est-ce qu’il y a une bonne et une mauvaise façon d’enseigner ?</p>
<p class="technique">Est-ce que la façon dont on apprend un savoir, une information est
importante ? le medium est le massage, Marshall McLuhan Si j’apprends
quelque chose sur YouTube, est-ce que c’est moins bien que de le lire
dans une revue scientifique ?</p>
<p class="technique">qu’est-ce qu’un savoir/une information ? a piece of advice news
informations -&gt; en anglais INFOS (indénombrable), en français UNE
INFO (fini dénombrable)</p>
<p class="technique">ALORS la culture libre ?</p>
<p class="existentiel">Ce que je veux c’est que des gens apprennent des trucs</p>
<p class="technique">contribuer/promouvoir le logiciel libre ? un des freins importants
à l’adoption du logiciel libre étant sa forme (ergonomie, interface,
design) et pas son contenu/principe (le logiciel fonctionne et le
principe de liberté/gratuité est attrayant), avec mes compétences en
design graphique mon rôle peut être de jouer sur la forme.</p>
<p>&amp; Refaire des sites/une doc claire + attrayante/(un nouveau
logo/)une “meilleure” interface</p>
<p class="existentiel">Comment je me positionne/qu’est-ce que je veux ? -&gt; accès libre
et large à la connaissance/au savoir</p>
<p class="existentiel">Le plus important pour moi c’est que les gens ne soient pas
manipulé·es, aient accès à de l’info de qualité et se rendent compte des
trucs foireux. $ Ça sert à rien d’essayer de faire en sorte que les gens
pensent à l’écologie ou au féminisme s’iels regardent BFM TV et leurs
graphiques bidons et leurs fausses infos.</p>
<p class="existentiel">J’ai peur de m’engager parce que j’ai peur de me tromper et que
j’ai peur de décevoir quelqu’un·e</p>
<p class="existentiel">J’ai pas besoin de réponses j’ai besoin de questions. J’aime bien
répondre à des problèmes mais je me pose pas forcément des problèmes
moi-même. J’aime bien chercher des réponses mais pas forcément chercher
des questions ? En fait si un peu quand même ?</p>
<p class="existentiel">J’aime bien chercher des réponses, peu importe la question. Pensée
d’ingénieur·e plutôt que de designer ? Chercher des réponses ≠ résoudre
des problèmes ? “Résoudre” et “problème” impliquent qu’il y a une
solution</p>
<p class="existentiel">Est-ce que j’aime bien les tutos, les manuels, les notices parce
que je peux “ne pas réfléchir” et suivre les intructions ? Comme un
algorithme ?</p>
<p class="existentiel">Je veux me rendre utile, aider les gens à une échelle locale plutôt
que des causes globales abstraites ?</p>
<p class="technique">Comment devenir passionné·e ?</p>
<p>&amp; Faire un manuel sur comment s’intéresser à un sujet en
profondeur et en devenir passionné·e/<em>expert·e</em> -&gt; pb de la
culture de l’expert ? de la position de la personne qui <em>fait
apprendre</em> ?</p>
<p class="technique">Absurde d’enseigner comment avoir une passion</p>
<p class="technique">Méthodes d’éducation alternatives ? Apprendre l’esprit critique
(terme critiquable ?)</p>
<p class="technique">Qu’est-ce qu’il faut apprendre aux enfants ? Apprendre à
apprendre</p>
<p class="existentiel">J’ai envie que les gens aient plus d’esprit critique mais j’aime
bien les instructions où je n’ai pas à réfléchir ?</p>
<p class="existentiel">Paradoxe de la CNS ? Imbécile heureux·se, Rousseau, évolutionniste
bof bof</p>
<p>&amp; “mémoire” sur l’état de l’ensignement, sur les façons
d’apprendre ?</p>
<p class="technique">Comment apprendre ? (Très flou)</p>
<p>&amp; Manuel pour apprendre à apprendre ? Tutoriel pour apprendre
n’importe quoi ? Donner envie aux gens d’apprendre des trucs ?</p>
<p class="technique">à quel moment on passe d’un truc “humaniste” (réfléchir sur ce mot)
à un truc de startup/motivationnel/dvpt perso
#laMeilleureVersionDeMoiMême ?</p>
<p>&amp; Utiliser des techniques de marketing</p>
<p class="technique">Relire le vertige du funambule d’Annick Lantenois</p>
<p class="existentiel">l’émancipation ?</p>
<p>&amp; Il faudrait que je me pose une question et que j’essaie d’y
répondre -&gt; mémoire/enquête</p>
<p class="technique">optimisation, efficacité tout faire de façon fluide comme si on
était dans un film</p>
<p class="existentiel">PTDR je suis qui pour apprendre aux gens à apprendre qqch</p>
<p>&amp; refaire des livres d’histoires-géo dégueulasses pour donner
envie aux gens d’apprendre ?</p>
<p class="technique">C’est quoi l’impact du graphisme sur le fait d’apprendre des trucs
? Est-ce que la matière/support à apprendre peut-être “améliorée” en la
rendant graphiquement plus aboutie ?</p>
<p class="existentiel">Est-ce que le graphisme peut sauver le monde ?</p>
<p class="existentiel">J’ai envie de faire un projet que mes parents puissent comprendre ?
Un projet qui peut être utile pour mes parents ?Faire un manuel de
comment appréhender la technologie ? Comment ne pas être frustré par les
ordinateurs ? Comment trouver une forme de “souveraineté numérique” à
l’échelle individuelle ?</p>
<p class="existentiel">Depuis un moment je me trouve en position de geek/technicien
officiel de ma famille, qui joue/travaille sur un ordinateur donc et qui
comprend <em>vraiment</em> comment ça marche et peut résoudre des
problèmes/expliquer/rassurer face à la technologie et “l’outil
numérique”. Pendant longtemps j’avais l’impression que ce rôle n’était
pas légitime pour moi et que je n’avais pas plus de connaissances que
quelqu’un d’autre de ma génération sur le sujet, à part peut-être plus
de patience pour expliquer. Maintenant que je m’intéresse plus à mes
outils, que le numérique m’intéresse <em>en soi</em> autant que comme un
support pour des activités pouvent s’en détacher, je suis peut-être en
effet plus un geek/technicien qui est en capacité de résoudre des
problèmes du quotidien sur un ordinateur et d’expliquer à ma mamie
comment désinstaller les 15 barres d’outils McAfee et Yahoo Search dans
son navigateur.</p>
<p class="existentiel">Pour son boulot ma mère a besoin de faire de la mise en page pour
faire des livrets d’accueil pour les nouvellaux arrivant·es par exemple
(sur LibreOffice). Elle a aussi besoin de fontes faites pour que les
personnes dyslexiques lisent plus facilement (fontes libres type
OpenDys). -&gt; utilisation intensive et besoin réel d’“outils” ou de
méthodes pour faciliter son travail ?</p>
<p class="existentiel">Mon père est de plus en plus contraint par son travail d’utiliser
des outils numériques, de passer par des sites, des interfaces, on lui
demande plein de vérifications par mots de passe etc. Discours de
“simplification digitale” (on enlève des doigts en trop ?) mais lui a le
sentiment de complexification, de bâtons dans les roues. Est-ce qu’avec
plus d’aisance en milieu numérique il aurait moins de frustration dans
son travail ? Mon père a peur d’un remplacement des humains par la
machine/le numérique. Comment lui redonner du pouvoir sur son/ses outils
en les manipulant et pas en étant manipulé ? (La Convivialité d’Ivan
Illitch ?)</p>
<p class="existentiel">Est-ce que mon père a besoin de formation aux interfaces numériques
ou bien c’est les interfaces qui doivent être “mieux” faites ?</p>
<p class="technique">Des gens qui ont besoin/sont contraints d’utiliser du numérique
dans leur travail mais qui ne comprennent pas/n’y arrivent pas/n’ont pas
envie ?</p>
<p class="existentiel">Je veux bien aider des gens comme ça mais pas pour faciliter
l’application d’une politique néolibérale et favoriser le remplacement
des métiers de contact humain par des tâches répétitives et aliénantes
d’assistanat de la machine, d’opérateurices.</p>
<p class="technique">Comment se réapproprier les outils numériques et être autonome, si
ce n’est à l’aise dans un environnement numérique ? Pas faire l’apologie
du numérique mais comprendre pourquoi on l’utilise, quelle utilisation
bénéfique on peut en tirer et à quels dangers/problématiques on doit
être vigilant·e ? Faire comprendre les enjeux des logiciels libres, de
l’économie de l’attention, de la capture des données, de la vie privée,
de la sécurité ?</p>
<p class="technique">éthique du hacker</p>
<blockquote>
<p>https://www.pourlesnuls.fr/livres
https://www.senscritique.com/liste/Pour_les_nuls/33445</p>
</blockquote>
<p class="technique">Pourquoi est-ce que les gens n’ont pas envie d’apprendre ? Parce
que ça demande un effort ?</p>
<p class="technique">informalité dans l’apprentissage ? expliquer avec un ton de
“blague”, en utlisant truc et machin, des exemples concrets ?</p>
<p class="existentiel">Qu’est-ce que j’aimerais avoir accompli cette année ? Une édition,
une fonte, un site</p>
<p class="existentiel">Si je fais un projet, j’adorerais qu’on me demande vraiment dans le
détail comment ça marche, et devoir expliquer le fonctionnement de ma
pensée et d’une “ingénierie” ou d’un moyen technique que j’ai
utilisé.</p>
<p class="existentiel">J’ai le sentiment que les gens qui s’intéressent à quelque chose
sont pas les gens qui ont le plus besoin de s’intéresser à cette chose,
paradoxalement.</p>
<p class="existentiel">Est-ce que c’est triste si je suis un technicien et pas un auteur ?
Est-ce que j’ai aussi cette peur de la CNS ? Ou alors la peur de
m’exprimer ? Je n’ai pas peur de faire des recherches et de
<em>comprendre</em> qqch, je n’ai pas peur de m’exprimer pour
<em>transmettre</em> ou pour <em>expliquer</em>, j’ai peur de m’exprimer
pour <em>affirmer</em>, pour poser une opinion qui <em>m’engage
personnellement</em>. C’est sûrement pour éviter le conflit/éviter de
décevoir.</p>
<p class="existentiel">Pour l’instant je ne me projette pas du tout dans un projet de
recherche, j’ai envie de travailler/produire des choses mais j’ai pas
d’idée qui me motive, que je trouve prometteuse. En même temps l’appétit
vient en mangeant mais bon.</p>
<p>&amp; collecter plein de sites/initiatives qui fonctionnent avec l’IA
(big brain meme)</p>
<p>&amp; collecter la numérisation de services métiers qui disparaissent
vraiment avec le numérique et métiers qui apparaissent ?</p>
<p class="technique">what’s gaming for non-gamers ? Razbuten -&gt; réflexes ancrés qui
paraissent illogiques du pt de vue de qqn d’extérieur</p>
<p class="existentiel">qu’est-ce qui m’intéresse plus, la critique, la pédagogie ?</p>
<p class="technique">Commnent rassembler ? créer une histoire ? fictionnaliser pour être
moins “en charge”</p>
<p class="technique">question de l’identification</p>
<p class="technique">le manuel d’utilisation le guide</p>
<p class="technique">apprendre des trucs aux gens sans les infantiliser -&gt;
émancipation</p>
<p class="existentiel">J’ai l’impression qu’un domaine où les gens (qui ?) peuvent se
sentir en “difficulté”, où iels sentent qu’iels ont un besoin
d’apprentissage, un manque de formation, c’est le numérique/la
technologie. Ça à l’air d’être un endroit (le seul endroit ?) où les
“adultes” (dans un grand sac) ne sont pas en mesure d’apprendre aux
enfants et où les enfants eux-mêmes pensent connaître sans
connaître.</p>
<p class="technique">Sorte de besoin d’apprentissage/de formation global sur ce sujet
?</p>
<blockquote>
<p><em>Comment voyager avec un saumon ?</em>, Umberto Eco</p>
</blockquote>
<p>&amp; un “manuel” (-&gt; manuel = à la main ?) sur comment apprendre
à être à l’aise avec des interfaces ?</p>
<p class="technique">C’est quoi les bases des logiques illogiques qui sont nécesaire à
une autonomie dans un environement numérique ?</p>
<p class="technique">critique de l’UI/UX design ?</p>
<p>&amp; état des lieux de l’enseignement de l’informatique ?</p>
<p>&amp; genre de mémoire sur l’apprentissage de l’informatique en
France ?</p>
<p>&amp; antituto</p>
<p>&amp; collecte de manuels de logiciels. Comment on essaie d’apprendre
l’informatique aux gens ?</p>
<p class="existentiel">Pour l’instant, sans recherches, j’ai le sentiment que l’approche
de l’enseignement de l’informatique est une logique
informatique/d’ingénierie de résolution de problème ? Le mode d’emploi
est un “comment faire en sorte que ça marche ?” et pas “comment faire en
sorte que les gens qui l’utilisent comprennent la logique ?” -&gt;
objectif de vendre de l’assistance technique, du “coaching”</p>
<p class="technique">L’objectif n’est pas que les gens apprennent mais qu’iels résolvent
leurs problèmes “seul·es” (jusqu’à un certain point)</p>
<p class="technique">iels ne doivent pas apprendre tout ce qu’iels PEUVENT faire mais le
minimum dont iels ont BESOIN</p>
<p class="technique">le problème de la fracture numérique est lié aux problèmes
d’apprentissage</p>
<blockquote>
<p>La fracture numérique décrit les inégalités dans l’accès aux
technologies de l’information et de la communication (TIC), leur
utilisation et leur impact. Sont généralement admis au moins deux
niveaux de fracture numérique : l’accès (fracture de premier degré) et
l’usage (fracture de second degré). <em>(Wikipédia)</em></p>
</blockquote>
<p class="existentiel">UNE FICTION nom de nom</p>
<p class="existentiel">mon père qui dit “tout est fait pour nous faire chier, pour nous
compliquer la vie”</p>
<p class="technique">la question c’est de savoir si il y a une intention d’illisibilité,
d’obfuscation, de déclarification dans les interfaces numériques obtuse
by design ? Finalement, est-ce que tout est vraiment fait pour nous
faire chier ?</p>
<p>&amp; Enquête aigrie sur le même principe qu’Oren ?</p>
<blockquote>
<p>Douglas Rushkoff, <em>Program or be Programmed</em> -&gt; un peu un
gourou compare le fait de ne pas savoir programmer à de l’illettrisme
(argument qui peut se tenir), mais compare aussi son bouquin avec des
commandements aux 10 commandements du judaïsme (héo le mégalo)</p>
</blockquote>
<p class="technique">l’informatique comme domaine paradoxalement très
spécialisé/complexe (mais pas forcément compliqué) mais très répandu</p>
<blockquote>
<p>Douglas_Engelbart -&gt; <em>Mother of All Demos</em>, + ou -
inventeur du GUI s’embrasser sous le GUI hihi</p>
</blockquote>
<p class="technique">est-ce que vouloir refermer la fracture numérique c’est aller dans
le sens des entreprises qui veulent collecter le plus d’informations
possibles sur le plus de monde possible ?</p>
<p class="technique">Est-ce que c’est pas un peu comme l’anglais ? C’est important de
l’apprendre mais en l’apprenant et en lui donnant de l’importance on
encourage l’hégémmonie de la culture anglo-saxonne et la disparition
d’autres langues.</p>
<blockquote>
<p>“Le digital ça concerne les pianistes et les proctologues” <em>(Fred
d’Abelli)</em></p>
</blockquote>
<p>&amp; utiliser des performances/jeux pour faire comprendre les
protocoles web avec des enveloppes/cadenas ?</p>
<p>&amp; collecte de dysfonctionnements administratifs ?</p>
<p>&amp; français simplifié dans les communications sur les sites du
gouv FR pour le coronavirus (peut-être là sur plsrs sites du gvt ?)</p>
<p>&amp; collecte graphique du futur de sites de startups numériques qui
font on sait pas trop quoi boosté à l’IA</p>
<p>&amp; réutiliser la grille d’entretien d’Adrien Godefroid pour
interviewer des gens ? pour m’interviewer moi-même ?</p>
<blockquote>
<p>Vous demandez à une amie qui possède des connaissances en matière
d’informatique de vous aider à réaliser une tâche dans un nouveau
programme. L’amie dit qu’elle n’a pas utilisé le programme auparavant
mais pourra essayer. Deux minutes plus tard, elle a compris ce qu’il
faut faire. Comment a-t-elle procédé ? Si vous avez vécu une situation
pareille à celle que nous venons de décrire, cela peut avoir l’air de la
magie. Cependant, votre amie a probablement juste mis en application ses
connaissances en matière d’informatique et des programmes informatiques
pour le programme que vous essayiez d’utiliser. Dans cette leçon, nous
allons vous montrer comment vous pouvez procéder de la même manière.
https://edu.gcfglobal.org/en/tr_fr-computer-basics/apprendre-un-nouveau-logiciel/1/
-&gt; C’est ce genre de choses que j’aimerais que les gens apprennent
?</p>
</blockquote>
<p class="technique">RTFM -&gt; gens énervés / expert·es hautain·es / utilisateurices
stupides ?</p>
<p class="technique">“technicien de la famille” saoulé qui veut que les gens arrivent à
se débrouiller ? Mamie des l’enquête Médor sur l’Hypersurveillance -&gt;
mettre en défaut des personnages fictifs ? Leur faire subir une
“punition” ?</p>
<p class="technique">pour des manuels émancipateurs</p>
<p class="existentiel">J’ai l’intuition que les manuels pour apprendre l’informatique/des
logiciels sont plus des recettes/algorithmes “bêtes” qui expliquent une
procédure pas à pas plutôt qu’une façon de faire comprendre aux
utilsateurices une idée de <em>comment ça marche</em>, de la logique
sous-jacente</p>
<p class="existentiel">C’est une manière de faire mais je pense que dès que
l’utilisateurice est devant un cas qui n’est pas dans le manuel alors
iel ne sait plus comment réagir. Cette logique sous-jacente peut
s’apprendre “d’elle-même” par essai et erreur lors d’une
immersion/utilisation régulière et prolongée, mais peut-on l’apprendre
<em>séparément</em>, ou plutôt <em>spécifiquement</em> ?</p>
<p>&amp; faire des tutos qui expliquent pourquoi on fait ce qu’on est en
train de faire ? Avec un choix d’avoir les étapes seulement ou bien les
explications en plus ?</p>
<p class="technique">protocoles de Kenneth Goldsmith dans <em>Wasting Time On The
Internet</em> -&gt; font “ressentir” les logiques, les enjeux de ce qui
se passe dans notre rapport au numérique ?</p>
<p>-&gt; faire pareil avec des protocoles techniques ou des logiques de
fonctionnement ?</p>
<p class="existentiel">D’où viennent ces logiques que j’ai acquises ?</p>
<p>&amp; Manuel absurde de comment s’adapter au tout numérique ? -&gt;
<em>manuel de civilité biohardcore</em> Antoine Boute, Stéphane de Groef
&amp; un autre gars</p>
<p class="technique">ma mère qui me demande sur un site de streaming “comment tu sais
quel bouton est de la pub et lequel est celui à cliquer ?”</p>
<blockquote>
<p>Carelman, <em>Catalogue d’objets introuvables</em></p>
</blockquote>
<p class="technique"><strong>La formulation des problèmes de maths.</strong> Creuser cet
état d’esprit “d’ingénieur”, de problème/solution qui ne fonctionne pas
à tous les coups mais que j’ai quand même? Opposition
art-poésie/ingénierie</p>
<blockquote>
<p>« Si nous avions une catégorie, méditait M. Larry Page, cofondateur
de l’entreprise, ce serait les informations personnelles (…). Les
endroits qu’on a vus. Nos communications (…). Les capteurs ne coûtent
rien (…). Le stockage ne coûte rien. Les appareils photographiques ne
coûtent rien. Les gens vont générer d’énormes quantités de données (…).
Tout ce que vous aurez entendu, vu ou éprouvé deviendra consultable.
Votre vie entière deviendra consultable (2). » Larry Page dans Douglas
Edwards, I’m Feeling Lucky : The Confessions of Google Employee Number
59, Houghton Mifflin Harcourt, New York, 2011.</p>
</blockquote>
<p class="technique">Maintenance, besoin de réparer les choses plutôt que d’innover à
tout prix. délabrement apporte des infos sur la société</p>
<p class="technique">Position privilégiée de la personne qui maintient, qui soigne</p>
<p class="technique">Est-ce que devoir penser à tout maintenir empêche d’aller de
l’avant ?</p>
<p class="technique">Plus on attend pour la maintenance, plus on va le payer cher -&gt;
cercle vicieux</p>
<p class="technique">Redonner un statut aux mainteneurices ? maintenance numérique qui
permet que tout fonctionne bien (ou soit hors-service le moins longtemps
possible) µ Maintenance numérique comme préservation d’un écosystème
naturel, protection et réparation des communs</p>
<blockquote>
<p>Mierle Laderman Ukeles -&gt; “MY WORKING WILL BE THE WORK”
(<em>Manifesto for maintenance art</em>)</p>
</blockquote>
<p class="existentiel">Je me sens incapable de réelle initiative</p>
<p class="technique">Le manuel -&gt; illus = wikihow ? une esthétique de la recherche de
comment faire des choses sur internet ? est-ce que wikihow est si
utilisé que ça ? µ à quel point mon scénario du futur doit être précis
?</p>
<p class="technique">Macron avait pour objectif de numériser toutes les procédures
administratives pour 2022 (finalement réduit aux 250 procédures les plus
courantes) sous prétexte de réduction de coût et de rapidité de
traitement (mais il y a un certain investissement inintial tout de même
pour cette étape de numérisation)</p>
<p>&amp; Faire un jeu finalement/en plus ? En début d’année j’avais
hésité à travailer sur le jeu, étant un amateur de jeux de société/jeux
vidéos/théorie des jeux Un jeu c’est un système, c’est un ensemble de
productions graphiques (cartes, pions, plateau, boîte, [règle =&gt;
apprentissage]) La ludification c’est aussi un enjeu de nos sociétés
pour capter l’attention -&gt; rendre ça addictif, bandit manchot
scroll/refresh (Shoshana Zuboff ?) dans le numérique et même en dehors +
société du spectacle</p>
<p class="technique">e-sport -&gt; notions de performance, entraînement, compétitivité,
optimisation =&gt; problématiques mais il existe aussi des jeux
coopératifs</p>
<p class="technique">Il y a des jeux où on peut intégrer une forme de narration,
d’invention de la part des joueureuses Il y a des jeux où l’objectif
n’est pas de gagner Un jeu peut permettre de ressentir un système, de
sentir les limites d’un environnement (ex le Monopoly qui te fait bien
sentir le capitalisme)</p>
<blockquote>
<p>Le tiret du six, Samuel Hackwill Le tarot du travail, Mathilde
Maillard, Signe Frederiksen</p>
</blockquote>
<p>-&gt; jeu coopératif avec meteor.js ?</p>
<p class="technique">Le problème de l’accessibilité -&gt; rendre les choses “faciles”,
accessibles, “simples” mais alors on perd la granularité, l’ambiguité,
il y a une normalisation</p>
<p class="existentiel">constitution = système d’exploitation ? Si on considère la
constitution comme un ensemble de lois intangibles (axiomes) sur
lesquelles construire un sous-ensemble de lois compatibles, alors les
axiomes d’un système d’exploitation (en terme de droits d’accès en
lecture/écriture ou d’interface par exemple) sont une sorte de
constitution. MacOS comme société totalitaire du “divertissement” où on
peut facilement faire des choses simples mais où la complexité est
camouflée et difficile/impossible d’accès. Peu de liberté mais pas de
risque d’autodestruction ArchLinux/Gentoo comme société ouverte où le
poids de chaque individu est important et peut faire pencher la balance
et foutre le bordel. Plus de liberté mais plus de risque de tout
péter</p>
<p class="technique">obligation d’Office 365 dans les écoles en Belgique en discussion ?
-&gt; sans faire forcément signer le RGPD aux enfants, ou en les
contraignant à signer sans lire pour pouvoir entrer dans l’école</p>
<p class="technique">NFT = modèle pyramidal dans un modèle pyramidal, enrichit
principalement les gens qui possèdent les cryptos/plateformes, artistes
comme labor force voué·es à devoir recruter à l’infini d’autres
personnes pour faire monter la valeur de ce qu’iels ont investi.
reconstruction du marché de l’art traditionnel version numérique, en
coupant l’intermédiaire validant la valeur des oeuvres (auparavant les
musées). Collectionneurs privés remplissent aussi cette fonction avec
les fondations/collections privées et les ports francs</p>
<p class="technique">spéculation dans la spéculation wtf</p>
<p class="technique">fonctionne parce que la seule chose qu’on peut acheter légalement
avec de la crypto c’est des NFT (ou d’autres cryptos)</p>
<p class="technique">permet full blanchiment d’argent et évasion fiscale</p>
<p class="technique">promesse foirée, pires systèmes du passés maquillés en trucs
positifs par le mythe du progrès technologique.</p>
<blockquote>
<p>Jay Owens on Dust #16 Distrubance, Digital Dust -&gt; tout est voué à
la disparition, rien n’est binaire/clair/pur, tout est un peu recouvert
de grains de poussières qui rendent tout flou et complexe, les archives
sont potentiellement des lieux de mort et de collection de poussière</p>
</blockquote>
<p class="technique">mythe du progrès technologique -&gt; si c’est nouveau (et tech)
c’est bien ?</p>
<blockquote>
<p>=&gt; Agir par la culture #66 numérique en soit allié du capitalisme,
ancré dans la rationnalité et la recherche d’efficactié, d’optimisation.
L’optimisation ne peut se faire que dans des catégories quantifiables,
mesurables, et c’est évidemment le coût et le temps (qui est de
l’argent) qui sont les critères opimisé·ables.</p>
</blockquote>
<p class="technique">obligation morale de ne pas passez trop de temps devant un écran
mais la société nous force à utiliser un écran tout le temps pour la
santé/l’administation/l’éducation/le travail/les courses/l’accès à la
culture…</p>
<p class="existentiel">il faudrait par défaut opter pour la séparation de pouvoirs et donc
éviter tout croisement possible de données, pour ne pas produire de
contrôle/surveillance par le recoupement d’informations</p>
<p class="technique">Quelles activités on peut garder sur le numérique, lesquelles on
doit réduire partiellement, lesquelles on doit garder absolument en
dehors du numérique ? Quels sont les tabous numériques/technologiques
(comme le clonage qui est interdit (?))</p>
<p class="technique">oppositions aux projets numériques (genre antennes 5G)
automatiquement qualifiées de NIMBY, donc égoïsme face à “progrès” pour
le “bien commun” mais en fait NIMBY c’est aussi “nulle part
ailleurs”</p>
<p class="technique">Pas d’alternatives au numérique (<em>Contre l’alternumérisme</em>,
Julia Laïnae et Nicolas Alep) ?</p>
<p class="technique">CLODO (Comité Liquidant ou Détournant les Ordinateurs), collectif
PMO (Pièces et Main d’Oeuvre)</p>
<p class="technique">Rancière critique l’idée qu’“il suffirait d’être des hommes égaux
dans une société inégale”</p>
<p class="existentiel">fascination et existence d’un “devenir machine”</p>
<blockquote>
<p>“servitude volontaire démultipliée”</p>
</blockquote>
<p class="existentiel">Le colibri de Pierre Rahbi c’est des conneries, même si toi tu fais
ta petite part tu finiras grillé·e si le reste s’en fout. Et en plus ça
te donne une bonne conscience qui peut devenir du mépris ou empêcher
d’agir collectivement. “La question c’est bien celle de savoit comment
on construit un canadair !”</p>
<p class="technique">trouver une réponse construite collectivement retrouver une
puissance d’agir</p>
<p class="technique">Comment utiliser ce que la technique/le numérique nous permet pour
lutter efficacement (encore le piège de l’efficacité) ? Un traitement de
texte est par exemple infiniment plus pratique qu’une machine à écrire
pour copier-coller du texte et achever un article ou un livre… et donc
élaborer et diffuser des idées subversives. Il ne faut donc pas adopter
une position tout dedans ou tout dehors.</p>
<p class="existentiel">Travailler là-dessus me fout un peut un coup au moral, je me dis
que rien n’est possible et que la piste émancipatrice que j’avais
(logiciels libres, décentralisation, frugalité) est une chimère, comme
la croissance verte. Pour autant, résoudre des problèmes et bricoler des
choses sur un ordinateur sont une des choses que je préfère faire dans
ma vie, alors je me sens en dissonance cognitive. Sans traction pour
changer des choses, avoir une prise sur le réel.</p>
<p class="existentiel">Est-ce que ça me paralyse autant parce que je me sens démuni ou
bien c’est une excuse que je me crée ?</p>
<p class="existentiel">J’ai l’impression de m’épanouir/m’amuser seulement quand je
travaille sur des problèmes abstraits, purement logiques ou techniques
sans lien avec le réel (fonte variable, advent of code). Même si je
bosse sur une question politique/sociale etc. dans un projet ce qui va
me plaire, plus que de voir le projet terminé et pertinent (même si ça
renre en compte dans ma motivation à finir le projet), c’est de résoudre
les problèmes techniques/graphiques et de faire en sorte que ça
fonctionne.</p>
<p class="existentiel">Peut-être que ça me fait peur de devoir trop réfléchir à la
question du fond, du ton, de la nuance parce qu’alors je ne suis plus en
contrôle et que je ne peux pas être sûr d’avoir “raison” ?</p>
<p class="existentiel">En me contruisant un système réduit je peux le maîtriser dans
l’échelle, dans la complexité et dans le résultat produit. Il faut
toujours que je réduise le réel, que je le condense fort en lignes
directrices.</p>
<p class="existentiel">Mais j’ai pas juste envie de résoudre des problèmes de maths et ça
me fait chier intellectuellement de faire un projet très technique et
spécifique/inaccessible. Mais peut-être que je ne suis pas
capable/“fait” pour faire autre chose ?</p>
<p class="existentiel">Je me sens seulement capable de recevoir, d’ingurgiter, d’avaler et
pas de produire, de construire, d’impulser/expulser quelque chose.</p>
<p>&amp; faire un glossaire papier parce que les gens exclu·es du
numérique savent pas chercher sur Internet annuaire ? fin de l’annuaire
papier ?</p>
<p>&amp; imprimer internet (Michael Mandiberg, <em>Print
Wikipedia</em>), imprimer le numérique pour le rendre visible pour les
gens qui n’y ont pas accès ? -&gt; réimprimer l’annuaire comme un acte
de résistance ?</p>
<p class="technique">imprimer un réseau social c’est quoi ? imprimer un dossier (sur un
ordi) c’est quoi ? imprimer une recherche web c’est quoi ? imprimer une
interface logicielle c’est quoi ? imprimer un profil c’est quoi ?
imprimer une base de données c’est quoi ? imprimer un site web c’est
quoi ? imprimer x c’est quoi ?</p>
<p>&amp; pas seulement imprimer “internet” ou “le numérique” mais
surtout pomper ce qui est inaccessible (pas <em>paywall</em> mais
<em>digiwall</em> +-) pour le rendre accessible -&gt; pas de fac-similé
mais une chaîne d’extraction de l’info numérique</p>
<blockquote>
<p>-&gt; <em>Coaldigger</em> de Lionel Maes ?</p>
</blockquote>
<p class="technique">Quelles infos ne sont pas accessibles autre part que sur internet ?
-&gt; c’est pas seulement des infos, c’est aussi des
interactions/communication, des services &gt; =&gt; Amazon Analogique
?</p>
<p class="technique">réflexion sur des lois qui obligeraient les gvt à garder la
possibilité de <strong>choix</strong>, pouvoir</p>
<p class="technique">traduction/symbiose analogique/numérique</p>
<p class="technique">interface ana/num dans les 2 sens =&gt; dès qu’on fait une modif
sur un ordi on a un print auto (pas forcément “dès que” mais peut-être
avec un délai défini (journalier, hebdomadaire…), et dans l’autre sens
les productions “papier”/analogique sont adaptées pour l’OCR et la
renumérisation pour fluidifier l’échange/la collaboration</p>
<p class="technique">carrément un gène qui fait que certaines personnes ne peuvent pas
voir la lumière qui sort des écrans -&gt; polarisation dans le
cristallin qui filtre la lumière de LEDs ? -&gt; problème au niveau du
traitement de l’info dans le cerveau qui empêche la synthèse additive
(les gens voient les pixels comme ils sont, juste des tâches de
rouge:vert:bleu) =&gt; sorte d’obligation sociale de penser à une
inclusion analogique</p>
<p class="technique">impossibilité physiologique qui forcerait à une remise en question
du numérique ? Vu qu’il serait impossible de faire tout avec, on se
rendrait compte de ce qui marche (aussi bien ? presque ? différemment ?)
sans ?</p>
<p class="technique">fausse maladie ? -&gt; construire un faux “consensus” scientifique,
lobbying, faux témoignages, réseau de ditribution de fausses
ordonnances, pour forcer un gvt à reconnaître un pb de santé publique et
donc imposer la non-totalisation du numérique</p>
<p class="technique">pb =&gt; déforce les vrais arguments montrant qu’une numérisation
complète est problématique, méthode douteuse éthiquement pour arriver à
ses fins</p>
<p class="technique">simplification de la réalité, comme si un pb de santé au niveau
accesibilité pouvait être un obstacle à l’inertie de la numérisation de
la société (ne résoud pas nécessairement le problème de la
déshumanisation, du monopole économique, de la collecte des données, de
la souveraineté, de l’impact environnemental…)</p>
<blockquote>
<p>Marloes de Valk, <em>REFUSING THE BURDEN OF COMPUTATION: EDGE
COMPUTING AND SUSTAINABLE ICT</em> -&gt; Les “TIC durables” c’est un peu
une douille quand même. Les promesses des GAFAM d’utilisation d’énergie
renouvelable et de recyclage/économie circulaire sont du greenwashing
et/ou réalisées seulement lorsque le prix de l’électricité augmente. La
technique du <em>edge computing</em>, c’est-à-dire décharger les calculs
du cloud sur le client, réduisant la consommation apparente de
l’entreprise/service qui retombe alors sur le client, peut-être même en
pire car le matériel peut être vieux/mal optimisé donc consommer plus
pour la même tâche. La vision de construire des communautés locales
décentralisées partageant des communs est “meilleure”, mais aussi
problématique car élitiste (genre néoféodalisme) -&gt; ne questionne pas
fracture numérique</p>
</blockquote>
<blockquote>
<p>http://harmful.cat-v.org/software/ -&gt; “puristes” de l’informatique
(et de tout d’ailleurs ?) élitiste mvmt full minimalisme, anti-bloat,
anti-complexité, anti-user-friendly (mais <em>user-centric</em>),
ultra-rationnel, full philosophie UNIX etc.</p>
</blockquote>
<p class="technique">double fracture numérique avec celleux qui sont super
expérimenté·es ?</p>
<p class="technique">power-users</p>
<p>&amp; Écrire à la main -&gt; le + anti numérique -&gt; compositor
Lionel Maes -&gt; Erik Right hand et Just Left hand : obsession en typo
de retranscrire l’écriture manuscrite/calligraphique dans un système
reproductible (plomb/numérique)</p>
<p class="technique">=&gt; question de l’esthétique -&gt; la rature en début d’année
?</p>
<p class="technique">3 scénars/variations de moi-même : - résistance/manuel -&gt; exclus
sont en opposition/conflit, refus num - symbiose -&gt; maladie/gène qui
empêche de voir les écrans, recherche de solutions commune,
collaboration ana/num - “transhumanisme”/power user -&gt; exclus
disparaissent progressivement, numérisation totale, l’opposition alors
est dans le libre/la logique de dvpt, élitisme et rationnalité et
purisme de l’optimisation/clarification (et pas simplicité)</p>
<p class="technique">Power user élitiste sorte de nemesis de la personne en fracture
numérique : temps d’utilisation, maîtrise, jargon, esthétique (PU =
minimal, text-based, full clavier, libre, plein de logiciels, no-js,
no-bloat, code, personnalisation/optimisation, philosophie de vie,
organisation du travaux, dark mode, automatisation /// Exclu·es =
simpliste, techniques employées pour les convainvcre : très visuel,
couleurs/effets, par défaut, interactions/animations</p>
<p class="technique">Différences sociales ?</p>
<p class="technique">Sorte d’écrit théorique sur le refus/peur de la technologie,
quakers (?), luddites, William Morris, déshumanisation</p>
<p>&amp; Faire une fonte Meta avec MetaFont Meta metafont
<em>mindblown</em></p>
<p>&amp; Faire un truc sur les raccourcis claviers : parle de cette
aisance, de parler un langage machinique ?</p>
<p>&amp; Enregistrer toutes les touches de raccourcis clavier pendant le
travail d’un projet (genre voir les ctrl+z et tout)</p>
<p>&amp; Pour le jury/l’expo, mettre les gens dans un contexte
fictionnel où tout le monde est super à l’aise avec l’informatique,
intégrer des fausses discussions <em>casuals</em> entre des gens en mode
“ah trkl att jte drop ça dans IRC” ou “oh relou frr, la màj d’Arch a
encore tout pété, jpp de l’AUR :’(”, chépa “c’est une bonne situation
ça, <em>power user</em> ?”</p>
<p class="technique">Chromebook forcé pour les élèves de plein d’endroits ? -&gt; ordis
pas ouf pour l’éducation sponso par Google ? -&gt; Google veut réduire
la fracture numérique et a les moyens de le faire, mais c’est aussi un
monopole de ouf MONDIAL encore plus qu’avant et ça attache les enfants
encore plus dans l’écosystème Google (Android + ChromeOS)</p>
<blockquote>
<p><em>THE ANARCHIST COOKBOOK</em> En voilà une autre référence qu’elle
est peut-être utile</p>
</blockquote>
<p>&amp; Utiliser certaines techniques du manuel dans le manuel même ?
-&gt; changer la langue en une langue moins connue (en tout cas pas
(que) en anglais ?), utiliser des images ASCII ou brouillées d’une autre
manière, faire une version “cryptée” et une non-cryptée ?</p>
<p class="technique">Alors question du point de vue : mélanger les points de vue ? pt de
vue des GAFAMs qui font un rapport sur des “désobéissant·es”</p>
<p class="technique">niveau de détail des explications -&gt; tant qu’à faire autant
viser les gens “lambda” et être exhaustif et très clair</p>
<p class="technique">texte style wikihow -&gt; qu’est-ce que ça donne avec plus de texte
?</p>
<p>&amp; Faire différents chapitres (1pt de vue par chapitre ?) changer
de ton de temps en temps -&gt; est-ce que c’est pas relou (pour moi et
pour les personnes qui lisent) d’avoir le même ton tout le temps ?</p>
<p class="technique">mélange des tons sera déjà fait avec les notes qui seront +
“factuelles” / descriptives</p>
<p class="technique">trouver une façon d’intégrer les notes ? -&gt; notes de fin de
chapitre, mieux que notes de fin</p>
<p class="technique">Les titres vont où ?</p>
<p class="technique">trouver une façon plus narrative</p>
<p class="technique">rajouter des PBK écolo -&gt; est-ce qu’un seul type de ton
conviendrait pour tous les types de sujets dont je veux parler ?</p>
<p class="technique">Bien choisir les images pour qu’elles soient claires une fois
vectorisées</p>
<p class="technique">trouver une mise en forme qui fonctionne différemment/de manière
complémentaire sur écran et sur papier écran comme un strip vraiment
-&gt; plus facile à lire sur écran ? + change du scroll vertical</p>
<p class="technique">Plotter de l’atelier à faire payer par la Cambre ? lezgo la
caméo</p>
<p class="technique">Dévier les gens des lieux déserts qui sont devenus bondés à cause
d’insta/des routes de campagne que Waze ou GMaps indiquent pour
contourner les bouchons et qui ne sont pas faites pour un tel
traffic</p>
<p class="technique">Précarité de stockage : comme les gens qui vivent à 4 dans un 10m²,
des gens qui vivent dans un 10 Go (en comptant des clouds divers) Ou
alors minimalisme, comme les gens qui vivent avec 10 objets seulement
mais vivre avec 100 Mo de données (papiers numérisés, factures,
photos…)</p>
<blockquote>
<p>Dans Désobéir : le petit manuel, Xavier Renou répertorie les
objectifs (et actions non violentes) suivants : Sensibiliser le public
(action théâtrale et action clown) ; Ternir la réputation (harcèlement
démocratique, remise du prix du pire, présence symbolique et continue) ;
Contester la légitimité (élection parallèle, décision politique de
rupture, désobéissance juridique, destructions politiques, action
symbolique de rupture, mise en danger de soi-même et usurpation civile)
; Faire perdre du temps et/ou de l’argent (grève, occupation, blocage,
perturbation, réappropriation, neutralisation et boycott). Wikipedia, <a
href="https://fr.wikipedia.org/wiki/Action_directe_(th%C3%A9orie_politique)">Action
directe</a></p>
</blockquote>
<blockquote>
<p>https://spui25.nl/programma/small-c-vs-big-c Big C -&gt; Cloud
Infrables - Infrastrucutres + Fables</p>
</blockquote>
<p class="technique">Bugs reports de Femke Snelting / titipi ?</p>
<div class="line-block">ImageMagick -&gt; canny + negate options</div>
<p><a href="https://opensource.com/article/17/8/imagemagick">Dans cet
article</a></p>
<p>&amp; Moyen auto de passer des images en mode dessin à la ligne pour
faire un pipe dans autotrace –centerline par après ?</p>
<p class="technique">Accessibilité numérique en fait comme accesibilité au design
graphique/à l’art. Le graphisme c’est rendre lisible, réfléchir à
comment montrer, comment communiquer, comment faire ressentir par la
forme ce qui se passe dans le contenu, mais ça peut aussi être confus,
une intention artistique, difficile d’accès.</p>
<p class="technique">C’est un domaine avec des codes qui s’apprennent, se déjouent, des
codes qui ont une histoire et qui sont situés, qui ont une sémantique.
Double accessibilité dans mon projet</p>
<p class="technique">Un truc sur le fait d’avoir plein de comptes dans tous les sens</p>
<p>&amp; Ça serait bien de prendre un template de rapport d’incident
plutôt centré sur un incident/accident physique et d’essayer d’insérer
dedans un incident plus abstrait, qui ne rentre pas dans les cases.
-&gt; montre formatage par le formulaire, pas adapté à ttes les
situations</p>
<p class="technique">L’assistance vocale (comme Siri ou Alexa) permet d’utiliser son
téléphone ou son ordinateur avec seulement sa voix, en gardant les mains
libres. Cependant, pour que ces logiciels s’activent quand on prononce
leur nom,</p>
<p class="existentiel">Il faut que je rende bien clair que je ne peux pas parler de tous
les problèmes liés à un sujet et qu’on ne peut pas se contenter de
critiquer l’aspect vie privée.</p>
<p class="technique">Le pb c’est que le format wikihow est un peu centré sur le fait de
résoudre un pb individuel et à relativement court terme. Est-ce que
c’est bien adapté pour parler de pbs
éthiques/démocratiques/environnementaux/collectifs ?</p>
<p class="technique">Est-ce que le manuel a pr but de convaincre qu’il fait faire ça ou
“seulement” de guider les gens déjà intéressé·es et dans l’envie de
faire une action ?</p>
<p class="technique">aussi, chaque techno problématique l’est pour plusieurs raisons à
la fois, sur laquelle je me concentre ? est-ce que je dois choisir celle
qui a le plus de chance de convaincre les gens ? L’arguement
“mainstream” ? D’après qui ?</p>
<p class="technique">pour le traçage de la fonte ça marche mais ça fait des trucs un peu
bizarres, changer les options change pas grand-chose à part un petit
côté arrondi si on augmente le error-threshold ou le filter-iteration.
La densité du png ne semble pas avoir d’impact sur la vecto. à essayer
avec un peu de flou ?</p>
<div class="line-block">imagemagick -&gt; -alpha remove -alpha off
-background white pour enlever la transparence d’un png</div>
<div class="line-block">font &gt; svg &gt; png &gt; pgm &gt;
eps(centerlined) &gt; metapost &gt; svg &gt; font (fiou)</div>
<p>Ce genre de pipe est fun mais le metapost converti automatiquement
n’est pas très pratique à modifier et je connais pas assez mp pour faire
un parser qui convertirait ça en un mp plus propre.</p>
<div class="line-block">autotrace et skeleton-tracing fonctionnent tous
les 2 mais skeleton-tracing donne beaucoup, beaucoup plus de points
(trop)</div>
<div class="line-block">possibilité de simplifier un chemin dans
Inkscape (Ctrl + L) mais pas sûr que ça marche en CLI</div>
<div class="line-block">script python pour convertir les glyphes
non-vides en svg mais quand on utiliser le sfd comme source ça fait des
bugs (lignes en genre de vaguelettes) alors utiliser le .ufo à l’air de
marcher</div>
<div class="line-block">avec sed on peut modifier plein de svgs d’un
coup en rajoutant stroke=“$COULEUR” sur l’élément path par ex
(yeah)</div>
<div class="line-block">j’utilise un ptit serveur bottle avec une page
web qui affiche les svgs générés par bottle. Sur la route de l’index (/)
j’ajoute une commande subprocess qui lance un script bash qui relance la
compilation metapost.</div>
<p>à chaque fois que je recharge la page ça compile les svgs et ça
m’affiche la version la plus récente (cool)</p>
<div class="line-block">je voulais mettre en fond la lettre en contour +
le centerline pour dessiner en metapost mais wtf ça marche pô les images
sont reconnues mais justent ne se chargent pas c’est incompréhensible
j’abandonne.</div>
<p>Du coup je met la fonte en fond directement et ça marche</p>
<p class="technique">Licence de mon projet ? -&gt; ACAB (qui veut dire qu’une entreprise
ne peut pas l’utiliser si ratio entre le salaire de la personne la plus
payée et la moins payée est inférieure à 1/20) Est-ce que j’écris une
licence qui empêche l’utilisation par des personnes/entreprises qui
utilisent la captation et l’extraction de données comme moyen de
financement, ou qui polluent trop ?</p>
<p class="existentiel">C’est définitivement la pire année de ma vie pour moi pour
l’instant, j’ai jamais été aussi malheureux</p>
<p class="existentiel">En fait la médiation (scéno, diffusion, évènement, distribution…)
de ce que je fais “pour moi” ça m’angoisse terriblement (mais pourquoi
plus maintenant qu’avant ?)</p>
<p class="existentiel">Si je le fais pour quelque’un d’autre ça m’intéresse plus mais pas
trop quand même.</p>
<p class="existentiel">Moins je rencontre de gens mieux je me porte ?</p>
<p class="existentiel">je me sens vide et incapable -&gt; si je me sens incapable de
réfléchir et d’avoir des idées maintenant ça veut dire quoi pour la
suite ?</p>
<p class="existentiel">Bon c’est quoi la suite ?</p>
<p class="technique">J’ai plusieurs problèmes pour avancer: + si je complète pas mon
manuel ya pas grand-chose dedans + je peux pas le compléter tel quel
avec le framanuel -&gt; pas le même ton, pas possible de le découper en
guides (sauf la partie recettes/outils) + je peux pas non plus parce que
le framanuel forme un tout cohérent, il faut avoir lu le début pour
comprendre l’intérêt des recettes puis comment les réaliser -&gt; il
faut des connaissances minimales, des requirements logiciels ? il faut
certaines “mises à jour” sur un sujet, le “maîtriser” suffisamment pour
suivre ? + je n’ai pas confiance dans ce que je fais + je ne peux pas,
tout seul, réécrire suffisamment de contexte pour que mon manuel soit
compréhensible/“accessible” + ma cible est relativement bien définie
mais je ne me suis pas donné les objectifs pour l’atteindre</p>
<p>&amp; je peux faire -&gt; * une édition du framanuel vol 1. et 2.
puis celui des DuMo (à lire avt quand même) * plus d’entrées de manuel *
une édition de mes doutes * des affiches * le manuel, mdr * PLUS DE
GLOSSAIRE MDAIRE</p>
<p class="technique">bon pour les trucs qui sont à critiquer et que je pourrais rajouter
dans le manuel: * vendor lock-in * pb de stockage * pb de se rappeler de
ses mots de passe * un truc sur l’eye tracking * les cryptomonnaies mais
probablement qqun de lambda va pas faire ça ? * administration * santé ?
/ addicition * les DRM * analyse de mouvements dans les aéroports et
dans les supermarchés * sureillance * économie de l’attention -&gt; se
pinter la gueule pour plus faire attention ? * harcèlement * théories du
complot * eneseignement en visio</p>
<p>&amp; mélange avec des vrais wikihows qui vont dans mon sens ?</p>
<p class="technique">cette édition des doutes pourrait être envoyée à l’avance au jury
pour casser la posture qui me gêne. L’idée c’est qu’au jury je serais
confiant, j’aurais des choses finies, je devrais assumer mon travail,
mais qu’en même temps ce qui peut le mieux parler de mon projet
réellement c’est mon processus et mes doutes constants.</p>
<p class="technique">Mes doutes serait une sorte d’édition méta sur le fait de faire un
projet de master, potentiellement déprimante/chiante à lire/du
chouinage, pas (trop) relue et/ou pas (trop) éditée</p>
<p class="existentiel">mais encore une fois c’est trop autocentré, pas de réflexion sur la
relation avec le public</p>
<p class="technique">-&gt; sauf si le “public”/jury vient voir ma présentation de
startupper positif et intangible tout en ayant vu que je ne suis pas
convaincu et que la coque du navire est percée à plein d’endroits,
sentir un décalage et une non-maîtrise même si je fais une démo où je
suis à l’aise avec mon ordi, mes gestes corporels (pas sûr though),
l’ambiance qui règne dans les pièces</p>
<p class="existentiel">-&gt; mes émotions en open-source ? pfffffff ça me met aussi mal à
l’aise parce que c’est un journal intime mélangé avec des réflexions de
projet/théoriques/trucs</p>
<p class="existentiel">si c’est mon dernier projet d’étudiant, dernier projet “scolaire”
(dans le sens de fait à l’école plutôt que dans le sens d’académique) je
le vois aussi comme mon dernier projet artistique peut-être, ou au moins
mon dernier projet artistique auto-impulsé. Après si je fais des projets
venant de moi ça sera des projets pour moi, dont la destination n’est
personne d’autre que moi et un repo où les personnes qui veulent
chercher et qui s’y intéressent peuvent trouver des outils et des
expérimentations de geekos avec du code et du graphisme/typo.</p>
<p class="technique">si on veut éviter une requête pour une application, avoir un
téléphone incompatible permet d’esquiver de fait le pb</p>
<p class="existentiel">J’ai un peu l’impression d’aller dans un mur</p>
