@font-face {
  font-family: 'Garature';
  /* src: url('Garature-Regular_v3.otf'); */
  src: url('garature-oe.otf');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color: black;
  --background: white;
}

html {
  font-family: 'Garature';
  font-size: calc(10pt + 1vw);
  line-height: calc(1.1em + 1vw);
  padding: 3rem;
}

h1 {
  margin-bottom: 1rem;
}

p {
  display:inline;
  font-size: 1.5rem;
  opacity: .8;

  word-wrap: break-word;
  overflow-wrap: break-word;

-webkit-hyphens: auto;
   -moz-hyphens: auto;
        hyphens: auto;
}

p:hover {
  /* color: var(--color); */
  text-shadow: 0 0 .2em var(--color);
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

p:hover .rature {
  font-feature-settings: normal;
}

p::selection {
  color: var(--background);
  background: var(--color);
}

p+p {
  /* margin-left: 3em; */
}

p+p:before {
  content: '?????????? ';
  color: lightgray;
  text-shadow: none;
  font-feature-settings: normal;
}

.rature {
  font-feature-settings: var(--set);
}

.reference {
  --color: brown;
  --set: "ss01";
  /* font-style: italic; */
}

.existentiel {
  --color: red;
  --set: "ss02";
}

.theorique {
  --color: purple;
  --set: "ss03";
}

.technique {
  --color: grey;
  --set: "ss04";
}

.faire {
  --color: green;
  --set: "ss05";
}

strong {
  text-decoration: underline;
  font-weight: normal;
}

.rature {
  -moz-font-feature-settings: var(--set);
  -webkit-font-feature-settings: var(--set);
  font-feature-settings: var(--set);
}
