@font-face {
  font-family: 'Wremena';
  src: url('fonts/WremenaLight.woff') format('woff');
  font-weight: 100;
}

@font-face {
  font-family: 'Wremena';
  src: url('fonts/WremenaRegular.woff') format('woff');
  font-weight: 500;
}

@font-face {
  font-family: 'Wremena';
  src: url('fonts/WremenaBold.woff') format('woff');
  font-weight: 900;
}

@page {
  size: A4;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --text-color: #555;
}

html {
  /* font-family: 'Recursive'; */
  font-family: 'Wremena';
  font-weight: 100;
  background: #FFFFEE;
  font-size: calc(10pt + .5vw);
}

body {
  padding: 2rem;
  width: 100%;
  height: 100%;
}

@media screen {
  nav {
    font-weight: 500;
    position: fixed;
    left: 0;
    top: 2rem;
    text-overflow: ellipsis;
    opacity: .5;
    transition: opacity .5s;
  }

  nav:hover {
    opacity: 1;
  }

  nav li {
    opacity: .5;
  }

  nav li:hover {
    opacity: 1;
  }
}

main {
  float: right;
  width: 60%;
}

h1, h2, h3, h4, h5,
p, aside, ol, ul, li {
  max-width: 50vw;
}

h1 {
  text-transform: uppercase;
  text-align: center;
  /* border: solid black .1em; */
  margin-bottom: .5em;
}

h2, h3 {
  font-weight: 500;
  counter-reset: orderedlist;
}

h1, h2, h3, h4, h5 {
  font-variation-settings: 'CASL' 1;
  /* font-variation-settings: 'MONO' 1; */
}

*+h1,
*+h2,
*+h3,
*+h4 {
  margin-top: 1rem;
}

aside {
  margin-top: 2rem;
  font-size: .8rem;
}

ol {
  list-style: none;
  list-style-position: outside;
}

ol>li {
  position: relative;
}

ol>li::before {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: .2em;

  position: absolute;
  color: var(--text-color);
  border: solid var(--text-color) 1px;
  border-radius: 50%;
  content: counter(orderedlist);
  counter-increment: orderedlist;
  font-size: .8em;
  /* font-variation-setting: 'wght' 900; */
  font-size: 2rem;
  left: -2.5rem;
  top: -.5rem;
  height: 100%;
  width: 1em;
}

ol+h2 {
  margin-top: 1rem;
}

ul{
  list-style: none;
  margin-left: 2em;
}

ul li::marker {
  content: '+ ';
}

*+ul,
*+ol {
  margin-top: .5em;
}

ol+ul {
  margin-top: 0;
  padding-left: 0;
}

p {
  text-indent: 2em;
  line-height: 1.3;
}

p+p {
  margin-top: .5em;
}

.definition {
  font-size: .8rem;
  font-style: italic;
}

hr {
  margin-top: 1em;
  margin-bottom: 2em;
}

a,
a:visited {
  color: silver;
}

@media screen and (max-width: 700px) {
  main {
    max-width: 100%;
  }

}

@media print {
  @page {
    size: 210mm 297mm;
    margin: 2rem;
  }

  main {
    width: 100%;
    padding: 1rem;
  }

  nav {
    display: none;
    color: black;
    position: absolute;
    top: 1.5rem;
    left: 1.5rem;
    opacity: 1;
  }

  nav * {
    opacity: 1;
  }

  /* main h1:not(:nth-of-type(1)) { */
  main h1 {
    page-break-before: always;
  }

  main h2,
  main h3,
  main h4 {
    page-break-after: avoid;
    page-break-before: auto;
  }
}

