<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PROJEEET</title>
  <link rel="stylesheet" href="../site/css/main.css">

</head>

<body>
    <nav>
      {% if prec %}
        <a id="prec" href="../{{ prec }}">Précédent</a>
      {% endif %}
        <span></span>
      {% if suiv %}
        <a id="suiv" href="../{{ suiv }}">Suivant</a>
      {% endif %}
    </nav>

    <main>
        {%- for tag, line in parsed -%}
          {% if tag not in ['section', 'div', 'prec', 'preclast', '---', 'h2'] -%}
            <{{ tag }}>{{ line }}</{{ tag }}>
          {% endif %}
        {%- endfor -%}

      <article>
        {%- set count = namespace(value=0) -%}

        {%- for tag, line in parsed -%}
          {%- if tag == 'section' %}
            <section class="full">
              <p class="etape"><span>{{ line }}</span></p>
              {{ svg_text[count.value] }}
             {% set count.value = count.value + 1 -%}
            </section>

          {%- elif tag == 'div' -%}
              {% set plus = les_plus[loop.index0] %}
        <div class="wrapper {% if plus == 3 %}flexinverse{% endif %}" style="--sub-count: {{ plus }};">

           <section class="coucou" {% if plus == 1 %}style="min-width: auto;" {% endif %}>
              <p class="etape"><span>{{ line[2:] }}</span></p>
              {{ svg_text[count.value] }}
             {% set count.value = count.value + 1 -%}
            </section>

              <div class="wrappisub">

          {%- elif 'prec' in tag -%}
                <section class="sub">
              <p class="precisions"><span>{{ line[2:] }}</span></p>
                  {{ svg_text[count.value] }}
                 {% set count.value = count.value + 1 -%}

                </section>

            {%- if 'last' in tag %}
                </div>
              </div>
            {%- endif -%}
          {% elif tag == '---' %}
            {{ line }}

          {% elif tag == 'h2' %}
          <{{ tag }}>{{ line }}</{{ tag }}>
          {% endif %}

        {% endfor %}

      </article>
    </main>
    <script src="https://unpkg.com/pagedjs/dist/paged.polyfill.js"></script>
</body>

</html>
