<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PROJEEET</title>
  <!-- <link rel="stylesheet" href="css/main.css"> -->
</head>

<body>

  {% for c in contenu %}
    <p><a href="../{{ c }}">{{ c[2:] }}</a></p>
  {% endfor %}

</body>

</html>
