@font-face {
  font-family: "coucou";
  src: url("test.woff2") format("woff2");
}

* {
  box-sizing: border-box;
}

body {
	background: #F3F3F3;
	margin: 0;
}

#nav {
	position: fixed;
	top: 0;
	padding: 5px;
	width: 100%;
	background: lightgray;
  z-index: 666;
}

#back {
  position: absolute;
  z-index: 100;
  width: 1000%;
  bottom: 20vh;
  height: 300pt;
  font-family: "coucou";
  font-size: 300pt;

  color: transparent;
  -webkit-text-stroke: 1.5px black;
  text-stroke: 1.5px black;
  paint-order: stroke fill;

  opacity: .4;

  display: flex;
}

#back span {
  border: dashed gray 1px;
}

#testing {
	width: 1000%;
	position: absolute;
  bottom: calc(20vh - 5px);
}

.hide {
  /* visibility: hidden; */
	display: none;
}

#inScale {
  visibility: hidden;
  display: none;
}
