@font-face {
  font-family: 'RoutedGothic';
  src: url('../fonts/routed-gothic/routed-gothic.woff2') format('woff2');
}

@font-face {
  font-family: 'RoutedGothic';
  src: url('../fonts/routed-gothic/routed-gothic-narrow.woff2') format('woff2');
  font-stretch: condensed;
}

@font-face {
  font-family: 'RoutedGothic';
  src: url('../fonts/routed-gothic/routed-gothic-wide.woff2') format('woff2');
  font-stretch: expanded;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --nb-colonnes: 2;
  --epaisseur: 1mm;
  --pen-color: blue;
  --marges: 20mm;
  --gap: 2mm;
  --sub-count: 0;
  --coef: 0.5;
}

/* ////////// STRUCTURE ////////// */
@page {
  size: 206mm 297mm;
  margin: 20mm;
}

.pagedjs_page {
  margin: 2rem;
  border: solid black 1px;
  background: white;
}

html {
  font-family: 'RoutedGothic', sans-serif;
  font-size: 10pt;
}

@media screen {
  html {
    background: lightgray;
    padding: 3rem;
  }
}

body {
  position: relative;
  counter-reset: method;
}

nav {
  display:flex;
  position: fixed;
  width: 100%;
  top: 1rem;
  z-index: 99;
  line-height: 1.5;
  justify-content: space-between;
}

nav a {
  /* background: yellow; */
  padding: 0.2em 1em;
  border-radius: 1em;
  color: black;
  font-stretch: narrow;
  -webkit-text-stroke: 1px black;
  border: solid black var(--epaisseur);
  text-decoration: none;
}

prec {
  margin-right: auto;
  align-self: flex-start;
}

suiv {
  margin-left: auto;
  align-self: flex-end;
}

main {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  /* height: 100%; */
  /* background: lightblue; */
}

article {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  gap: var(--gap);
  max-width: 100%;
  height: 100%;
  flex: 1 1 auto;

  /* background: yellow; */
}

/* ////////// PARATEXTE ////////// */
h2 {
  position: absolute;
  inset: -10mm;
  counter-reset: coucou;
  break-before: always;
  font-stretch: expanded;
  counter-increment: method;
  z-index: 10;
}

h2:before {
  content: 'Méthode ' counter(method) '\2009: ';
}

strong {
  -webkit-text-stroke: 1px black;
  font-stretch: expanded;
}

/* ////////// CASES ////////// */
section,
.wrapper {
  position: relative;
  /* max-height: 100%; */
}

section {
  border: solid var(--pen-color) var(--epaisseur);
  border-radius: 1rem;
  max-width: 100%;
  display: flex;
  flex-flow: column nowrap;
  flex-align: end;
}

.full {
  /* flex: 1 1 calc((100% - 2 * var(--marges)) / var(--nb-colonnes)); */
  /* max-height: calc((100% - 2 * var(--marges)) / 4); */
  flex: 1 1 calc((100% - 2 * var(--marges)));
}

.full:last-child {
  /* background: red; */
}

.wrapper {
  flex: 1 1 auto;
  display: inline-flex;
  flex-flow: row nowrap;
  gap: var(--gap);
}

.coucou {
  flex: 1 1 auto;
  max-width: calc(100% - (100% / (var(--sub-count) + 1)));
}

.wrappisub {
  display: flex;
  flex-flow: column nowrap;
  gap: var(--gap);
  flex: 1 1 50%;
}

.flexinverse {
  flex-flow: column nowrap;
}

.flexinverse .wrappisub {
  flex-flow: row nowrap;
}

.sub {
  position: relative;
}

br {
  border: solid red 1px;
  width: 100%;
  page-break-before: always;
  break-before: always;
  display: block;
}

p {
  word-wrap: break-word;
  overflow-wrap: break-word;

-webkit-hyphens: auto;
   -moz-hyphens: auto;
        hyphens: auto;
}

.etape {
  background: white;
  border: solid white .1rem;
  border-radius: .5em;
  margin: .1em;
  padding: .5em;
  /* font-weight: bold; */
  position: absolute;
  top: .3em;
  left: .5em;
  counter-increment: coucou;
}

.etape::before {
  content: counter(coucou) ". ";
}

.precisions {
  position: absolute;
  text-shadow: 0 0 .2rem white;
}

/* ////////// IMAGES ////////// */
svg, img {
  width: 100%;
  height: auto;

  /* display: block */
  /* position: relative; */

}

path {
  stroke-linecap: round;
  fill: none !important;
  stroke: var(--pen-color) !important;
  stroke-width:var(--epaisseur);
  vector-effect: non-scaling-stroke;
}

/* ////////// IMPRESSION ////////// */
span, h1, h2, .etape:before, p {
  visibility: hidden;
}

/* svg { */
/*   visibility: hidden; */
/* } */
/* section { */
/*   border-color: transparent; */
/* } */

@media print {
  nav {
    display: none;
  }

  html,
  .pagedjs_page {
    padding: 0;
    margin: 0;
  }
}
