:root {
  --nb-colonnes: 2;
}

@page {
  size: A4;
}

html {
  font-family: sans-serif;
  font-size: 10pt;
  background: white;
  height: 280mm;
  width: 200mm;
}

body {
  counter-reset: coucou;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  height: 280mm;
  width: 200mm;
  padding: 2em;
}

article {
  background: white;
  display: flex;
  flex-flow: row wrap;
  gap: 0.5rem;
  max-height: 100%;
  width: 100%;
}

section {
  border: solid black .2rem;
  border-radius: 15px;
  flex: 1 1 auto;
  position: relative;
}

.full {
  /* background: yellow; */
  width: 48%;
}

.wrapper {
  position: relative;
  flex: 1 1 auto;
  display: flex;
  flex-flow: column wrap;
  gap: 0.5rem;
  width: calc(100% / (var(--nb-colonnes) * 2));
}

.full {
  /* background: yellow; */
  width: 49%;
}

.sub {
  max-height: 50%;
}

svg, img {
  width: 100%;
  height: auto;
}

p {
  background: white;
  border: solid white .1rem;
  border-radius: .5em;
  margin: .1em;
  padding: .25em;
  font-weight: bold;
  position: absolute;
  top: .3em;
  left: .5em;
  z-index: 10;
}

.etape::before {
  counter-increment: coucou;
  content: counter(coucou) ".";
  margin-right: .5em;
}

.precisions {
  position: absolute;
  color: white;
  background: black;
  padding: .2em;
  bottom: 0;
  font-style: italic;
}

/* * { */
/*   border-color: transparent !important; */
/* } */

/* p, */
/* span { */
/*   visibility: hidden; */
/* } */

/* img { */
/*   visibility: hidden !important; */
/* } */
