@font-face {
  font-family: 'Wremena';
  src: url('fonts/WremenaLight.woff') format('woff');
  font-weight: 100;
}

@font-face {
  font-family: 'Wremena';
  src: url('fonts/WremenaRegular.woff') format('woff');
  font-weight: 500;
}

@font-face {
  font-family: 'Wremena';
  src: url('fonts/WremenaBold.woff') format('woff');
  font-weight: 900;
}

:root {
  --nb-colonnes: 2;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  background: lime;
  font-family: sans-serif;
  font-size: 10pt;
  font-weight: 100;
  height: 100%;
  width: max-content;
}

body {
  counter-reset: coucou;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2em;
  height: 100%;
  width: max-content;
  overflow-x: auto;
  overflow-y: hidden;
}

article {
  background: white;
  box-shadow: 0px 0px 1.3em black;
  display: flex;
  gap: 0.5rem;
  padding: 2em;
  width: 100%;
}

section {
  border: solid black .2rem;
  border-radius: 15px;
  flex: 1 1 auto;
  position: relative;
}

.full {
  /* background: yellow; */
  width: 49%;
}

.sub {
  max-height: 50%;
}

.wrapper {
  position: relative;
  flex: 1 1 auto;
  display: flex;
  flex-flow: column wrap;
  gap: 0.5rem;
  width: calc(100% / (var(--nb-colonnes) * 2));
}

svg {
  width: 100%;
  height: auto;
}

img {
  width: 100%;
  height: auto;
}

p {
  background: white;
  border: solid white .1rem;
  border-radius: .5em;
  margin: .1em;
  padding: .25em;
  /* font-weight: bold; */
  position: absolute;
  top: .3em;
  left: .5em;
  z-index: 10;
}

.etape::before {
  counter-increment: coucou;
  content: counter(coucou) ".";
  margin-right: .5em;
}

.precisions {
  position: absolute;
  color: white;
  background: black;
  padding: .2em;
  bottom: 0;
  font-style: italic;
}

.COUNT {
  color: blue;
  font-size: 5em;
}
