@font-face {
  font-family: 'Recursive';
  src: url('fonts/Recursive_VF_1.078--subset-GF_latin_basic.woff2') format('woff2');
}

@page {
  size: A4;
}

* {
  b0x-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Recursive';
  background: grey;
  font-size: 10pt;
  width: 100%;
  height: 100%;
}

body  {
  height: 297mm;
  width: 294mm;
}

section {
  background: white;
  padding: 2rem;
}

h1 {
  text-transform: uppercase;
  text-align: center;
}

aside {
  margin-top: 2rem;
  font-size: .8rem;
}

ol {
  counter-reset: orderedlist;
  list-style: none;
}

ol li::before {
  counter-increment: orderedlist;
  content: counter(orderedlist);
  font-size: .8em;
  border: solid black .1em;
  border-radius: .5em;
  margin-right: 1em;
  padding: 0 .3em;
  text-align: center;
}

ol+h2 {
  margin-top: 1rem;
}
